.hero__container {
	padding-top: 90px;
	padding-bottom: 90px;
	background-image: url('/img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 125%, 65%;
}
.hero {
	background-color: #f0efeb;

}

.hero__title {
	font-weight: 700;
	font-size: 60px;
	line-height: 70.31px;
	color: #000;
	max-width: 534px;
	margin-bottom: 42px;
}

.hero__descr {
	font-weight: 400;
	font-size: 24px;
	line-height: 28.13px;
	color: #000;
	margin-bottom: 27px;
	max-width: 480px;
}



